
.CTAbutton{
    font: size 14px;
    background-color:white;
    border: 1px solid #dbdbdb;
    padding:15px;
    color:#606060;
    text-decoration:none;
    position:relative;
    top:60px;
    border-radius:6px;
}

.CTAbutton:hover{
    font: size 14px;
    background-color:black;
    border: 1px solid #dbdbdb;
    padding:15px;
    color:white;
    text-decoration:none;
    position:relative;
    top:60px;
    border-radius:6px;
}

.social {
    margin-right:12px;
    color:#606060;
}