
.CTAbutton{
    font-size: 14px;
    background-color:white;
    border: 1px solid #dbdbdb;
    padding:10px;
    color:#606060;
    text-decoration:none;
    position:relative;
    border-radius:6px;
    transition: background-color 0.5s ease;
}

.CTAbutton:hover{
    background-color:black;
    color:#ffffff;
    text-decoration: none!important;
     
}

.social {
    margin-right:12px;
    color:#606060;
}